@import '../../bank';

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  align-items: center;

  h1 {
    font-size: 21px;
    color: $text-grey;
  }

  h2 {
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: $grey;
    font-weight: normal;
  }

  h3 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 13px;
    text-align: center;
    color: $grey;
    font-weight: normal;
  }

  h6 {
    font-weight: normal;
    color: red;
    margin: 10px 0px 0px 10px;
  }
}

.derectionInput {
  display: flex;
  background-color: $bg-grey;
  border-radius: 15px;
  padding-left: 15px;

  h5 {
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    padding-right: 15px;
    cursor: default;
  }

  input {
    border-radius: 0 15px 15px 0;
  }
}
